.h1 {
    color: var(--primary-text-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 26px;
    text-align: center;
    z-index: 1;
    margin-top: 192px;
}

.h2 {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    z-index: 1;

}

.divider {
    width: 56px;
    height: 2px;
    background-color: var(--divider-color);
    margin-bottom: 26px;
    z-index: 1;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}