.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10%;
    width: 25%;
    height: 45%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    background: var(--card-color);
    box-shadow: 0px 0px 15px 10px var(--card-shadow);
    z-index: 1;
}

.h1 {
    color: var(--primary-text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 5,65%;
}

.h2 {
    color: var(--secondary-text-color);
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    width: 26,6%;
}

.imgBox {
    padding-bottom: 10%;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10%;
    margin-top: 7%;
}

.card:hover {
    transform: scale(1.1);
  }