.primaryOutlinedButton{
    border-radius: 55px;
    background: transparent;
    width: fit-content;
    padding: 1px 40px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: var(--button-color);
    border: 1.4px solid var(--button-color);
}