.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: var(--blue-color);
}

.logo_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.company_logo {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    font-size: 26px;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: var(--primary-color);
    margin-right: 20px;
    text-align: center;
    color: var(--dot-color);
}

.company_name {
    color: var(--primary-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}
.text_block{
    color: var(--primary-color);
    font-Size: 18;
    font-style: normal;
    font-weight: 300;
    width: 45%;
    padding-top: 2%;
}

.header_text_column{
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.default_text_column{
    color: var(--primary-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
}

.categories_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    padding-right: 10%;
}