#root {
  margin: 0;
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;
  width: 100%;
  background-color: var(--main-bg-color);
}
:root {
  --primary-text-color: rgba(0, 0, 0, 1);
  --primary-unavailable-text-color:rgba(31, 21, 52, 1);
  --slider-card-color: rgba(255, 255, 255, 0.90);
  --secondary-text-color: rgba(125, 121, 135, 1);
  --main-bg-color: rgba(255, 255, 255, 1);
  --primary-color: rgba(255, 255, 255, 1);
  
  --on-primary-color:rgba(255, 255, 255, 1);
  --on-secondary-text-color: rgba(255, 255, 255, 0.9);

  --dot-color: rgba(91, 155, 243, 1);
  --unavailable-arrow-color:rgba(69, 143, 246, 1);
  --button-color: #458FF6;
  --primary-color-hover: #646cff;

  --primary-top-nav-color: rgba(31, 21, 52, 1);
  --primary-unavailable-top-nav-color: rgba(31, 21, 52, 0.5);

  --blue-color: rgba(69, 143, 246, 1);

  --divider-color: #000;

  --card-color: #FFF;
  --card-shadow: rgba(229, 233, 246, 0.40);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var (--primary-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

header{
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  padding: 0% 0%;
  margin: 0% 5%;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 3.2em;
  line-height: 1.1;
} */

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Mulish';
}

footer {
  margin-top: 10%;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-text-color: #213547;
    --main-bg-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    --button-color: rgba(69, 143, 246, 1);
  }
}
